/*-------- PAGE COMPTE --------*/
.account-page {
    margin: 40px auto;
    background: #fffdf7;
    width: 604px;
    height: 100%;
    angle: 0 deg;
    opacity: 1;
    top: 191px;
    left: 418px;
}

.account-page h1 {
    margin-bottom: 30px;
}

.account-page h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th,
.orders-table td {
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.orders-table th {
    font-weight: 600;
}

.orders-table tr:last-child td {
    border-bottom: none;
}

hr {
    margin: 40px 0;
}

.btn-delete-account {
    width: 479px;
    height: 77px;
    background: #565656;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 30px 183px;
}

.btn.btn-success {
    width: 604px;
    height: 244px;
    background: #565656;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
