/*-------- NOS PRODUITS --------*/

.nosproduits-page {
    padding: 40px 0;
}

.nosproduits-page .products-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

/* --- GRILLE 3 COLONNES FIXES --- */
.nosproduits-page .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* --- CARD PRODUIT --- */
.nosproduits-page .product-card {
    background: #fffdf7;
    border-radius: 12px;
    padding: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* IMAGE */
.nosproduits-page .product-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

/* TITRE PRODUIT */
.product-name {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

/* PRIX */
.price {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    margin: 0;
}

/* DESCRIPTION COURTE */
.short-description {
    font-size: 15px;
    color: #555;
    margin: 0 0 10px 0;
}

/* BOUTON */
.product-btn {
    display: inline-block;
    margin-top: auto;
    padding: 10px 20px;
    background: #565656;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
}

/* --- RESPONSIVE --- */
@media (max-width: 992px) {
    .nosproduits-page .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .nosproduits-page .products-grid {
        grid-template-columns: 1fr;
    }
}
